<a href="https://colab.research.google.com/github/Diana13Delgado/carlos-git/blob/main/Python_Data_Science.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python para Data Science

Notebook para el curso de Python para Data Science publicado en la plataforma de [Alura Latam](https://www.aluracursos.com/)

# Introducción a Python
¡Vamos a conocer Python, nuestro ambiente de estudio, y también generaremos nuestro primer código en este lenguaje!

## Google Colaboratory

Ya aprendimos qué es [Python](https://www.python.org/) y ahora aprenderemos a usar nuestra herramienta de ejecución [Google Colaboratory](https://colab.research.google.com/) para programar en un notebook interactivo.

Vamos a probar algunas funciones de este ambiente.

In [ ]:
print ("Escuela de datos de Alura")

Escuela de datos de Alura

 **`>>> Usa esta celda para mover <<<`**

In [ ]:
print ("Nombre: Diana")
print ("Apellido: Delgado")

Nombre: Diana
Apellido: Delgado

In [ ]:
print ("D")
print ("I")
print ("A")
print ("N")
print ("A")

D
I
A
N
A

In [ ]:
print (13,"Abril",1984)

13 Abril 1984

In [ ]:
print ("13 Abril 1984")

13 Abril 1984

In [ ]:
print (13,"Abril",1984)

13 Abril 1984

In [ ]:
print ("Año actual:",2025)

Año actual: 2025

In [ ]:
nombre = input ("Escribe tu nombre:")
print ("Hola %s" %(nombre))

Escribe tu nombre:diana
Hola diana

In [ ]:
nombre_usuario = input("Escribe tu nombre:")
edad_usuario = int(input ("Escribe tu edad:"))
print ("Hola %s, tienes %d años" %(nombre_usuario, edad_usuario))

Escribe tu nombre:Diana
Escribe tu edad:40
Hola Diana, tienes 40 años

In [ ]:
nombre_usuario = input("¿Cual es tu nombre?")
edad_usuario = int(input("¿Que edad tienes?"))
estatura_usuario = float(input("¿Cuanto mides en metros?"))
print ("Hola %s, tienes %d años y mides %.2f metros"%(nombre_usuario, edad_usuario, estatura_usuario))

¿Cual es tu nombre?Diana
¿Que edad tienes?40
¿Cuanto mides en metros?1.60
Hola Diana, tienes 40 años y mides 1.60 metros

In [ ]:
numero_1 = input ("Digita un primer numero:")
numero_2 = input ("Digita un segundo numero:")

Digita un primer numero:15
Digita un segundo numero:30

In [ ]:
suma = int(numero_1) + int (numero_2)
print ("La suma de los 2 numeros es:%d" %(suma))

La suma de los 2 numeros es:45

In [ ]:
p_numero = input ("Digita un primer numero:")
s_numero = input ("Digita un segundo numero:")
t_numero = input ("Digita un tercer numero:")
total = int(p_numero) + int (s_numero)+ int(t_numero)
print ("La suma de los numeros es de: %d" %(total))

Digita un primer numero:10
Digita un segundo numero:10
Digita un tercer numero:10
La suma de los numeros es de: 30

In [ ]:
num_1 = input ("Escribe un numero:")
num_2 = input ("Escribe otro numero")
rest = int(num_1)-int(num_2)
print ("La resta del primer numero menos el segundo es: %d" %(rest))

Escribe un numero:20
Escribe otro numero30
La resta del primer numero menos el segundo es: -10

In [ ]:
mult_1 = input ("Escribe un numero")
mult_2 = input ("Escribe otro numero")
multiplicacion = int(mult_1)*int(mult_2)
print ("El resultado de la multiplicacion de los 2 numeros es: %d"%(multiplicacion))

Escribe un numero100
Escribe otro numero10
El resultado de la multiplicacion de los 2 numeros es: 1000

In [ ]:
div_1= input ("Escribe un numero:")
div_2= input ("Escribe un numero que no sea cero:")
division = float (div_1)/float(div_2)
print ("El resultado de la divison es:%.2f"%(division))

Escribe un numero:30
Escribe un numero que no sea cero:15
El resultado de la divison es:2.00

In [ ]:
pot_1 = input ("Escribe un numero:")
pot_2 = input ("Escribe a que potencia quieres elevar el numero anterior:")
potencia= int (pot_1)** int(pot_2)
print ("El resultado del numero %d elevado a la %d potecia es de:%d "%(int(pot_1),int(pot_2),int(potencia)))

Escribe un numero:10
Escribe a que potencia quieres elevar el numero anterior:5
El resultado del numero 10 elevado a la 5 potecia es de:100000

In [ ]:
division_1= input ("Escribe un numero:")
division_2= input ("Escribe un numero menor al anterior que no sea cero:")
resultado_div= int (division_1)/ int(division_2)
print ("El resultado de la division entera es:%d"%(resultado_div))

Escribe un numero:30
Escribe un numero menor al anterior que no sea cero:25
El resultado de la division entera es:1

In [ ]:
numerador=int(input("Ingrese el numerador:"))
denominador = int (input("Ingrese el denominador (OBS:el valor no puede ser nulo):"))
print (numerador%denominador)

Ingrese el numerador:3
Ingrese el denominador (OBS:el valor no puede ser nulo):15
3

In [ ]:
nota_1 = input("Ingrese la nota del primer estudiane:")
nota_2 = input("Ingrese la nota del segundo estudiante:")
nota_3 = input ("Ingrese la nota del tercer estudiante:")
suma_notas= float(nota_1)+float(nota_2)+float(nota_3)
promedio= float (suma_notas)/3
print ("El promedio de los 3 estudiantes es: %.2f"%(promedio))

Ingrese la nota del primer estudiane:6.7
Ingrese la nota del segundo estudiante:9.8
Ingrese la nota del tercer estudiante:8.8
El promedio de los 3 estudiantes es: 8.43

In [ ]:
media_ponderada= (5*1 + 12*2 + 20*3 + 15*4)/(1+2+3+4)
print ("Media %.2f."%(media_ponderada))

Media 14.90.

In [ ]:
frase= "vamos con todo"
print (frase)

vamos con todo

In [ ]:
frase_1= input("Escribe una frase:")
frase_1.upper()

Escribe una frase:Hoy es un buen dia

'HOY ES UN BUEN DIA'

In [ ]:
frase_2 = input ("Escribe una frase:")
frase_2.lower()

Escribe una frase:BUEN DIA

'buen dia'

In [ ]:
frase= " Buenas noches "
frase.strip()

'Buenas noches'

In [ ]:
frase_usuario = input("Escribe una frase:")
frase_usuario.strip()

Escribe una frase:Hola mundo

'Hola mundo'

In [ ]:
frs = input ("Escribe una frase:")
frs.strip().lower()

Escribe una frase:MAÑANA SERA OTRO DIA

'mañana sera otro dia'

In [ ]:
frase_rem= input("Escribe una frase:")
frase_rem.replace ("e","f")

Escribe una frase:Este es un recordatorio

'Estf fs un rfcordatorio'

In [ ]:
remplazo= input("Escribe una frase:")
remplazo.replace("a","@")

Escribe una frase:Cada quien sabe

'C@d@ quien s@be '

In [ ]:
frases= input ("Escribe una frase:")
frases.replace ("s","$")

Escribe una frase:siempre seras el mejor

'$iempre $era$ el mejor'

In [12]:
num1 = int(input("Escribe un numero: "))
num2 = int(input("Escribe otro numero: "))
if num1>num2:
  print ("%d es mayor que %d."%(num1,num2) )
elif num2>num1:
  print ("%d es mayor que %d."%(num2,num1))
else:
  print ("Los numeros son iguales")

Escribe un numero: 5
Escribe otro numero: 2
5 es mayor que 2.

In [25]:
porcentaje = float(input("Ingrese el porcentaje de produccion de la empresa: "))
if porcentaje > 0:
  print (f"Hubo un crecimiento del {porcentaje} %")
elif porcentaje < 0:
  print (f"Hubo una disminucion del {porcentaje} %")
else:
  print ("No hubo crecimiento")

Ingrese el porcentaje de produccion de la empresa: 2
Hubo un crecimiento del 2.0 %

In [27]:
letra = input("Ingrese una letra: ").lower()
vocales ="aeiou"
if letra in vocales:
  print ("La letra es una vocal")
else:
  print ("La letra es una consonante")

Ingrese una letra: d
La letra es una consonante

In [2]:
precio_1 = float (input("Escribe el precio promedio de los autos del priemr año: "))
precio_2 = float (input("Escribe el precio promedio de los autos del segundo año: "))
precio_3 = float (input("Escribe el precio promedio de los autos del tercer año: "))
mayor= precio_1
if precio_2 > mayor:
  mayor = precio_2
if precio_3 > mayor:
  mayor = precio_3
menor =precio_1
if precio_2 < menor:
  menor =precio_2
if precio_3 < menor:
  menor = precio_3
print (f"El precio mas alto del auto fue de $ {mayor}")
print (f"El precio mas bajo del auto fue de $ {menor}")

Escribe el precio promedio de los autos del priemr año: 345
Escribe el precio promedio de los autos del segundo año: 322
Escribe el precio promedio de los autos del tercer año: 555
El precio mas alto del auto fue de $ 555.0
El precio mas bajo del auto fue de $ 322.0

In [4]:
producto_1 = float (input("Escribe el precio del primer producto: "))
producto_2 = float (input("Escribe el precio del segundo producto: "))
producto_3 = float (input(" Escribe el precio del tercer producto: "))


if producto_1 < producto_2 and producto_1 < producto_3:
  print("El primer producto es mas barato")
elif producto_2 < producto_1 and producto_2 < producto_3:
  print("El segundo producto es mas barato")
else:
  print("El tercer producto es mas barato")

Escribe el precio del primer producto: 9
Escribe el precio del segundo producto: 2
 Escribe el precio del tercer producto: 7
El segundo producto es mas barato

In [29]:
num1 = int(input("Ingresa un numero: "))
num2 = int(input("Ingresa otro numero: "))
num3 = int(input("Ingresa otro numero: "))

if num1>num2 and num1>num3:
  print(num1)
  if num2>num3:
    print(num2)
    print(num3)
  else:
    print(num3)
    print(num2)
elif num2>num1 and num2>num3:
  print(num2)
  if num1>num3:
    print(num1)
    print(num3)
  else:
    print(num3)
    print(num1)
elif num3>num2 and num3>num1:
  print(num3)
  if num2>num1:
    print(num2)
    print(num1)
  else:
    print(num1)
    print(num2)

Ingresa un numero: 1
Ingresa otro numero: 3
Ingresa otro numero: 2
3
2
1

In [33]:
turno= input("En que turno estudias (mañana, tarde o noche): ")
if turno == "mañana":
  print("Buenos dias")
elif turno == "tarde":
  print("Buenas tardes")
elif turno == "noche":
  print("Buenas noches")
else:
  print("Valor invalido")

En que turno estudias (mañana, tarde o noche): hola
Valor invalido

In [37]:
valor = int(input("Esribe un numero entero: "))
if valor % 2==0:
  print("El numero es par")
else:
  print("El numero es impar")

Esribe un numero entero: 6
El numero es par

In [39]:
valor = float(input("Esribe un numero puede ser entero o con decimales: "))
if valor % 1==0:
  print("El numero es entero")
else:
  print("El numero tiene decimales")

Esribe un numero puede ser entero o con decimales: 3
El numero es entero

In [6]:
valor1= float(input("Escribe un nuemro: "))
valor2= float(input("Escribe otro numero: "))
operacion= input("¿Que operacion deseas relaizar (+,-,*,/): ")
if operacion=="+":
  total= valor1+valor2
elif operacion=="-":
  total = valor1 - valor2
elif operacion=="*":
  total = valor1*valor2
elif operacion == "/":
  total = valor1//valor2
  print(f"El resultado de la operacion es {total}")
else:
  print("Operacion no valida")

if total % 2==0:
  print("El numero es par")
else:
    print("El numero es impar")

if total % 1==0:
  print("El numero es entero")
else:
  print("El numero es decimal")

if total >0:
  print("El numero es positivo")
else:
  print("El numero es negativo")

Escribe un nuemro: 33
Escribe otro numero: 11
¿Que operacion deseas relaizar (+,-,*,/): /
El resultado de la operacion es 3.0
El numero es impar
El numero es entero
El numero es positivo

In [29]:
lado1= float(input("Ingresa la medida del primer lado del triangulo: "))
lado2= float(input("Ingresa la medida del segundo lado del triangulo: "))
lado3= float(input("Ingresa la medida del tercer lado del tringulo: "))

if (lado1+lado2 > lado3) and (lado1+lado3>lado2)and(lado2+lado3>lado1):
  print("Los valores si pueden formar un triangulo")
  if(lado1==lado2) and (lado1==lado3) and (lado2==lado3):
    print("El triangulo es equilatero")
  elif (lado1!=lado2)and(lado1!=lado3)and(lado2!=lado3):
    print("El triangulo es escaleno")
  else:
    print ("El triangulo es isoceles")
else:
  print("Estos valores no pueden formar un triangulo")

Ingresa la medida del primer lado del teiangulo: 10
Ingresa la medida del segundo lado del triangulo: 50
Ingresa la medida del tercer lado del tringulo: 100
Estos valores no pueden formar un triangulo

In [33]:
combustible = input("Ingrese el tipo de combustible que desa comprar E para etanol y D para diésel: ")
litros= int(input("¿Cuantos litros deseas comprar?"))

if combustible=="E":
  precio_combustible=float(1.70)
  if litros <=15:
    descuento=0.2
  else:
    descuento=0.4
elif combustible=="D":
   precio_combustible=float(2.00)
   if litros <=15:
    descuento=0.3
   else:
    descuento=0.5

else:
  print("El valor es invalido")
  precio_combustible=0
  descuento=0

precio_descuento = precio_combustible * litros * descuento
precio_pagado = precio_combustible * litros - descuento

print(f"El total a pagar es ${precio_pagado}")

Ingrese el tipo de combustible que desa comprar E para etanol y D para diésel: E
¿Cuantos litros deseas comprar?90
El total a pagar es $152.6

In [34]:
# Recolectamos las ventas de los dos años
venta_2022 = float(input('Ingrese la cantidad de ventas en 2022: '))
venta_2023 = float(input('Ingrese la cantidad de ventas en 2023: '))

# Calculamos la variación porcentual entre las ventas de los años 2022 y 2023
var_porcentual = 100 * (venta_2023 - venta_2022) / (venta_2022)

# Análisis condicional de la variación porcentual para determinar la sugerencia a enviar
if var_porcentual > 20:
    print('Bonificación para el equipo de ventas.')
elif 2 <= var_porcentual <= 20:
    print('Pequeña bonificación para el equipo de ventas.')
elif -10 <= var_porcentual < 2:
    print('Planificación de políticas de incentivo a las ventas.')
else:
    print('Recorte de gastos.')

Ingrese la cantidad de ventas en 2022: 300
Ingrese la cantidad de ventas en 2023: 500
Bonificación para el equipo de ventas.

In [53]:
numero1 = int(input("Escribe el primer numero entero: "))
numero2 =int (input("Escribe segundo numero entero: "))
if numero1 < numero2:
  for i in range(numero1 + 1 , numero2):
    print(i)
elif numero1 > numero2:
  for i in range(numero2 + 1, numero1 ):
    print(i)
else:
  print("Los numero son iguales")

Escribe el primer numero entero: 5
Escribe segundo numero entero: 2
3
4

In [54]:
# Número inicial de bacterias
colonia_a = 4
colonia_b = 10

# Tasas de crecimiento de las colonias
tasa_a = 0.03
tasa_b = 0.015

# Contador de días
días = 0

# La condición que termina el bucle es cuando
# la colonia A supera a la colonia B
while colonia_a <= colonia_b:
  # Usamos un operador de asignación con multiplicación
  colonia_a *= 1 + tasa_a
  colonia_b *= 1 + tasa_b
  # Contamos los días en cada iteración
  días += 1

# Resultado final
print(f'Necesitará {días} días para que la colonia A supere a la colonia B.')

Necesitará 63 días para que la colonia A supere a la colonia B.

In [7]:
# Bucle para recopilar las 15 notas
for i in range(15):
  nota = float(input(f'Ingresa la nota del usuario {i}: '))
  # Verifica si la nota está entre 0 y 5
  # Si no lo está, el bucle se repetirá hasta que se obtenga un valor válido
  while (nota < 0) or (nota > 5):
    nota = float(input(f'Nota no válida, ingresa nuevamente la nota del usuario {i}: '))
print('Verificación completa. Todas las notas son válidas.')

Ingresa la nota del usuario 0: 1
Ingresa la nota del usuario 1: 2
Ingresa la nota del usuario 2: 3
Ingresa la nota del usuario 3: 4
Ingresa la nota del usuario 4: 5
Ingresa la nota del usuario 5: 6
Nota no válida, ingresa nuevamente la nota del usuario 5: 7
Nota no válida, ingresa nuevamente la nota del usuario 5: 8
Nota no válida, ingresa nuevamente la nota del usuario 5: 9
Nota no válida, ingresa nuevamente la nota del usuario 5: 1
Ingresa la nota del usuario 6: 2
Ingresa la nota del usuario 7: 3
Ingresa la nota del usuario 8: 4
Ingresa la nota del usuario 9: 5
Ingresa la nota del usuario 10: 1
Ingresa la nota del usuario 11: 2
Ingresa la nota del usuario 12: 3
Ingresa la nota del usuario 13: 4
Ingresa la nota del usuario 14: 5
Verificación completa. Todas las notas son válidas.

In [13]:
# Recopilamos la temperatura
temperatura = float(input('Ingresa la temperatura en grados Celsius: '))

# Inicializamos un contador y una suma para calcular el promedio
contador = 0
suma = 0

# Nuestro código se ejecuta hasta que el valor de temperatura sea igual a -273
while temperatura != -273:
    # La suma se actualiza sumando la temperatura a la variable suma
    suma += temperatura
    # Contamos la cantidad de valores recopilados con el contador
    contador += 1
    # Recopilamos nuevamente la temperatura
    temperatura = float(input('Ingresa la temperatura en grados Celsius: '))

promedio = suma / contador

print(f'El promedio de las temperaturas es: {promedio}')

Ingresa la temperatura en grados Celsius: 23
Ingresa la temperatura en grados Celsius: 66
Ingresa la temperatura en grados Celsius: 44
Ingresa la temperatura en grados Celsius: 88
Ingresa la temperatura en grados Celsius: 999
Ingresa la temperatura en grados Celsius: 000
Ingresa la temperatura en grados Celsius: 273
Ingresa la temperatura en grados Celsius: -273
El promedio de las temperaturas es: 213.28571428571428

In [16]:
# Solicita el número
num = int(input('Ingresa un número entero: '))

# Inicializa el cálculo
factorial = 1

# Nuestro contador comienza con el número máximo
# y se realizará un conteo decreciente con el operador -=
i = num
while i > 0:
    # Queremos multiplicar el valor factorial por el número
    # y todos los números por debajo de él hasta 1
    factorial *= i
    i -= 1

# Imprime el cálculo del factorial
print(f'El factorial de {num} es {factorial}')

Ingresa un número entero: 6
El factorial de 6 es 720

## ¡Hola mundo!

Vamos a conocer un poco más de cerca nuestro notebook. Para ello ejecutaremos nuestro primer comando en Python: [`print()`](https://docs.python.org/3/library/functions.html#print)

# Manipulando los datos

Vamos a aprender sobre las variables en Python, cómo declararlas y utilizarlas además de conocer otros comandos de este lenguaje. :D

## Variables

En Data Science trabajamos con varios tipos de datos e informaciones, entonces es esencial saber cómo trabajar con las variables.

Las variables en Python se crean cuando atribuimos un valor a ella.

Para esto, colocamos el nombre de la variable, el signo de igual (`=`) y el valor que queremos atribuirle.

Existen algunos tipos de nomes que **no** podemos definir para las variables:

- **Nombres que comiencen con números**
  - Ejemplos: `10_notas`, `2_nombre_casa`, etc.
- **Palabras separadas por espacio**
  - Ejemplos: `Nombre escuela`, `notas estudiantes`, etc.
- **Nombres de funciones de Python**
  - Ejemplos: `print`, `type`, etc.

> Las letras mayúsculas y minúsculas generarán diferentes variables. La variable `edad` es diferente de `Edad` que a su vez es diferente de `EDAD`:
``` Python
edad = 1
Edad = 2
EDAD = 3
_edad = 4
_edad_ = 5
print(edad, Edad, EDAD, _edad, _edad_)
1 2 3 4 5
```

## Tipos de variables

Cada variable contiene una clase específica con respecto al tipo de objeto al cual esta hace referencia. Estas clases serán diferentes de acuerdo con el tipo de dato que le sea atribuido a una variable.

Para conocer la clase de cada elemento usamos la función [`type()`](https://docs.python.org/3/library/functions.html#type)

En un conjunto de datos escolares podemos tener varios tipos de informaciones. Supongamos que tenemos acceso a la ficha de datos del alumno *Penélope Camacho*, cómo transformamos este nombre en variables de Python?

#### Ficha:

- Nombre: Penélope Camacho
- Edad: 11 años
- Promedio del semestre: 9,75
- Situación de aprobación: Verdadera (aprobado)

## Variables numéricas

Entre los tipos de datos numéricos vamos a enfocarnos en los tipos `entero` y `float`.

Tenemos una tabla de información sobre los diversos cargos, cantidad de personas empleadas y el salario correspondiente:

|Cargo | Cantidad | Salario|
|---|---|---|
|Vigilante | 5 | 300 |
|Docente | 16| 500|
|Coordinador| 2 |600|

Necesitamos trabajar con estos datos para obtener:

- La cantidad total de empleados;
- La diferencia entre el salario más bajo y más alto; y
- El promedio ponderado de los salarios de los empleados de la escuela.

## Strings

Strings hace referencia a un conjunto de caracteres formando un texto.

Podemos crear Strings cuando atribuimos un dato a una variable entre comillas sencillas (`'`) o comillas dobles (`"`).

Las variables textuales son objetos que poseen métodos que nos ayudan a formatear strings. Los métodos los podemos ejecutar al definir un objeto de acuerdo con la siguiente estructura:

```
objeto.metodo()
```

Existen métodos que no necesitan los `()`, siempre es una buena práctica verificar la documentación para cada caso.

---
**Situación:**

Recibimos una variable con el nombre de una profesora de la escuela para añadirla a los registros. Sin embargo, necesitamos darle un tratamiento a este texto antes de insertarlo al sistema.

In [ ]:
texto = '  Micaela de los Sanyos '

El objetivo final es que el nombre aparezca de la siguiente forma:

```
'MICAELA DE LOS SANTOS'
```

### [`str.upper()` ](https://docs.python.org/3/library/stdtypes.html#str.upper)
Convierte una string a mayúsculas.

### [`str.lower()`](https://docs.python.org/3/library/stdtypes.html#str.lower)
Convierte una string a minúsculas.

### [`str.strip()`](https://docs.python.org/3/library/stdtypes.html#str.strip)
Elimina los espacios en blanco al inicio y al final de una string.

### [`str.replace(antiguo, nuevo)`](https://docs.python.org/3/library/stdtypes.html#str.replace)

Sustituye todas las ocurrencias del texto "antiguo" en la string por el  "nuevo".

### Observaciones

1. Los métodos devuelven una **tranformación**, no son ejecutados directamente sobre la variable donde está almacenado el texto.

2. Adicionalmente, podemos acumular la ejecución de los métodos.

Para que la transformación se pueda ejecutar debemos atribuir la salida de las transformaciones a las variables

## Capturando datos

En algunas aplicaciones necesitamos capturar los valores del usuario de nuestro proyecto. En python, logramos capturar los datos del usuario a través del comando [`input()`](https://docs.python.org/3/library/functions.html#input).

Para ejecutar la captura debemos atribuir el resultado de esta función a una variable.

La salida de este comando siempre será una *string*. Esto quiere decir que aunque capturemos un valor de variable numérica, este será de tipo string.

Entonces, será necesario **convertir el resultado cuando no se desea utilizar el valor como tipo string**.

Existen funciones para la conversión de valores:

- Enteros: [`int(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#int)
- Coma flotante: [`float(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#float)
- String: [`str(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#func-str)
- Booleano: [`bool(dato_para_conversion)`](https://docs.python.org/3/library/functions.html#bool)

Trataremos de representar mejor ahora el resultado de la transformación que obtuvimos. Nosotros podemos formatear y presentar nuestro resultado mezclando strings con valores no textuales.

Para ello utilizamos la estructura de formatación `f` con strings.

# Estructuras condicionales

In [1]:
# Nota de aprobacion entre 7 y 10== nota de aprobacion >= 7
# Nota de reprobacion es menor que 7 == Nota de reprobacion <7
"""
Si la nota es mayor o igual a 7 entonces el estudiante aprueba
Si no, entonces el estudiante reprueba
"""

'\nSi la nota es mayor o igual a 7 entonces el estudiante aprueba\nSi no, entonces el estudiante reprueba\n'

## `IF` y `ELSE`

Los comandos `if` y `else` son dos estructuras condicionales. El comando `if` ejecutará el bloque de comandos en caso de que la condición citada sea  **verdadera**. El comando `else` ejecutará el bloque de comandos en el caso de que la condicional de `if` sea **falsa**.

El comando `if` es una palabra clave en Python que significa "si". Este se emplea para conformar la estructura condicional, que te permite verificar si una determinada condición es verdadera o falsa e, inmediatamente después, ejecute un bloque de código específico dependiendo del resultado de la verificación. La sintaxis para usar el comando `if` es:



```
if condicion:
    # Realiza algo
```

In [2]:
if 2<7:
  print ("La condicion es verdadera.")

La condicion es verdadera.

In [3]:
if 2>7:
  print ("La condicion es verdadera")
print ("Fin de la consulta.")

Fin de la consulta.

Ya el comando `else` en Python se usa en junción con la palabra clave `if` para formar una estructura condicional. la sintaxis para usar el `else` es:

```
if condicion:
  # codigo en caso de que sea verdad
else:
  # codigo en caso de que sea falso
```

el comando `else` se ejecuta cuando la condición verificada por el `if` es evaluada como `False`.

In [4]:
if 2 > 7:
  print ("La condicion es verdadera")
else:
  print ("La codicion es falsa.")
print ("Fin de la consulta.")

La codicion es falsa.
Fin de la consulta.

---
**Situación:**

Recibiremos el promedio de la nota de los estudiantes y necesitamos de un algoritmo que ejecute el análisis y determine si el estudiante fue **Aprobado** o **Reprobado**, mostrando un mensaje del resultado. Para ser aprobado, el promedio necesita ser igual o superior a 7.0.

In [11]:
nota = float(input("Digita la nota: "))

if nota >= 7:
  print ("Aprobó.")
else:
  print ("Reprobó.")

Digita la nota: 7
Aprobo.

Ahora, nuestra institución educativa estableció que las personas que tengan el promedio entre 5.0 y 7.0 pueden participar del curso de **Recuperación** durante las vacaciones para lograr aprobar.

Entonces podemos apoyarnos en un conjunto de `if`s para poder estructurar esta nueva condición.

In [12]:
nota = float (input("Digita la nota: "))

if nota >= 7:
  print ("Aprobó.")
if 7 > nota >= 5:
  print ("Recuperacion.")
if nota < 5:
  print ("Reprobó")

Digita la nota: 8
Aprobó.
Reprobó

Observa que en casos con 3 situaciones como este necesitamos definir bien nuestras condiciones. Pues, si realizamos una condición con `else` al final, este irá a considerar solamente la condición `if` inmediatamente anterior para generar la salida en caso de que el resultado de su operación lógica sea **falso** dando como resultado, dos o más ejecuciones.

Por ejemplo:

In [13]:
nota = float (input("Digita la nota: "))

if nota >= 7:
  print ("Aprobó.")
if 7 > nota >= 5:
  print ("Recuperacion.")
else:
  print ("Reprobó")

Digita la nota: 8
Aprobó.

## `ELIF`

El comando `elif` es una palabra clave en Python que significa "si no, si" y lo podemos considerar una *contracción* entre `else` e `if`. Se utiliza en conjunto con la palabra clave `if` para formar una estructura condicional en cadena.

la sintaxis para utilizar el comando `elif` es:

```
if condicion1:
    # Realiza algo
elif condicion2:
    # Realiza otra cosa
elif condicion3:
    # Realiza otra cosa
else:
    # Realiza algo diferente
```

El comando `elif` permite que puedas verificar varias condiciones en cadena, economizando espacio en tu código. Si la primera condición se evalúa como `False`, el interpretador de Python evaluará la próxima condición con el `elif`. Ello continuará hasta que una condición sea evaluada como `True` o hasta que el `else` sea alcazado. Si ninguna de las condiciones es evaluada como `True`, la ejecución del código del comando `else` será iniciada.

Vamos a emplear el mismo caso anterior:

In [14]:
nota = float (input("Digita la nota: "))

if nota >= 7:
  print ("Aprobó.")
elif 7 > nota >= 5:
  print ("Recuperacion.")
else:
  print ("Reprobó")

Digita la nota: 8
Aprobó.

## Operadores

Durante la construcción de comandos a veces necesitamos de una elaboración mayor de la expresión condicional, necesitando que algunos operadores lógicos se encuentren integrados.

### `AND`, `OR`, `NOT`

Los operadores lógicos `and`, `or` y `not` son usados para combinar expresiones lógicas en Python. Ellos son usados frecuentemente en conjunto con el comando `if` para crear estructuras condicionales más complejas.

- `AND` es usado para verificar si dos condiciones son verdaderas. La expresión lógica¹ `x and y` se evalúa como `True` tan solo si **ambas condiciones `x` y `y` son verdaderas**, y como `False` en caso contrario.

- `OR` es usado para verificar si al menos una de las condiciones es verdadera. La expresión lógica `x or y` se evalúa como `True` **si al menos una de las condiciones `x` o `y` es verdadera**, y como `False` si ambas condiciones son falsas.

- `NOT` es usado para **negar una condición**. La expresión lógica `not x` es evaluada como `True` si la condición x es falsa, y como `False` si la condición x es verdadera.

¹ Una expresión lógica es una declaración que puede ser evaluada como verdadera o falsa. Ella se compone por operandos lógicos² y por operadores lógicos³, que son usados ​​para combinar varias expresiones lógicas en una única expresión.

² Los operandos lógicos son los elementos que son comparados o evaluados en una expresión lógica. Ellos son generalmente valores verdaderos o falsos, pero también pueden ser expresiones lógicas más complejas. En Python, los operandos lógicos son los valores `True` y `False`.

³ Los operadores lógicos son ls símbolos o palabras clave que son usados ​​para combinar varias expresiones lógicas en una única expresión. En Python, los operadores lógicos son `and`, `or` y `not`, bien como las palabras clave `if`, `elif` e `else`.

> Operadores lógicos más comunes

|a|b|AND|OR|NOT|
|-|-|-|-|-|
|0|0|0|0|1
|0|1|0|1|-
|1|0|0|1|-
|1|1|1|1|0

In [15]:
v = True
f = False

In [16]:
if v and v:
  print ("La condicion es verdadera.")
else:
  print ("La condicion es falsa.")

La condicion es verdadera.

In [19]:
if v or v:
  print ("La condicion es verdadera.")
else:
  print ("La condicion es falsa.")

La condicion es verdadera.

In [20]:
if  not f:
  print ("La condicion es verdadera.")
else:
  print ("La condicion es falsa.")

La condicion es verdadera.

### `IN`

Es usado para verificar si un elemento está presente en una lista, tupla u otra colección de conjunto. La expresión `x in y` se evalúa como `True` si el elemento `x` esta presente na variávelen la variable de conjunto `y`, y como `False` en caso contrario.

Podemos verificarlo con variables de texto.

---

**Situación:**

En la escuela nos entregaron una lista con nombres de estudiantes que fueron aprobados según el promedio del semestre, pero es necesario verificar si algunos nombres están en esa lista para confirmar que los datos estén correctos.

La lista distribuida puede ser observada a continuación:

```
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez,
    Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres,
    David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro,
    Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina,
    Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero,
    Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'
```

Los nombres que necesitas verificar son los siguientes:

```
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'
```

In [26]:
lista = 'Juan Pérez, María González, Pedro Rodríguez, Ana López, Carlos Martínez, Laura Sánchez, José García, Elena Fernández, Luis Morales, Carmen Torres, David Ruiz, Isabel Ramírez, Javier Díaz, Sara Herrera, Miguel Castro, Patricia Ortega, Francisco Vargas, Marta Jiménez, Manuel Medina, Rosa Molina, Alejandro Silva, Silvia Ruiz, Andrés Torres, Natalia Soto, Diego Guerrero, Paula Ríos, Ricardo Navarro, Alicia Cordero, Carlos Vidal, Lorena Gómez'

In [27]:
nombre_1 = 'Miguel Castro'
nombre_2 = 'Marcelo Noguera'

In [28]:
if nombre_1 in lista:
  print ("El estudiante Aprobó.")
else:
  print ("El estudiante Reprobó.")

El estudiante Aprobó.

In [29]:
if nombre_2 in lista:
  print ("El estudiante Aprobó.")
else:
  print ("El estudiante Reprobó.")

El estudiante Reprobó.

# Estructuras de repetición

Cuando tenemos que ejecutar un mismo bloque de comandos durante varias ocasiones no es nada práctico hacerlo a mano.

**Situación**: Nos fue solicitado obtener e imprimir el promedio de 2 notas de **3 estudantes**:

In [36]:

nota_1=float(input("Digita la primer nota: "))
nota_2=float(input("Digita la segunda nota: "))
print(f"El promedio del estudiante 2 es: {((nota_1+nota_2)/2)}")

nota_1=float(input("Digita la primer nota: "))
nota_2=float(input("Digita la segunda nota: "))
print(f"El promedio del estudiante 3 es: {((nota_1+nota_2)/2)}")

Digita la primer nota: 8.5
Digita la segunda nota: 6.5
El promedio del estudiante 1 es: 7.5
Digita la primer nota: 8.3
Digita la segunda nota: 9
El promedio del estudiante 2 es: 8.65
Digita la primer nota: 3
Digita la segunda nota: 10
El promedio del estudiante 3 es: 6.5

Ahora imaginemos una situación en que no son tan solo 3 estudiantes, sino 100 estudiantes. No sería nada interesante repetir el mismo código 100 veces, sino **ejecutar el mismo código 100 veces**.

¡Esta estructura la logramos construir con lazos de repetición!

## `WHILE`

El lazo `while` es una estructura de control de repetición en Python que permite ejecutar un bloque de código repetidamente mientras que una determinada condición sea verdadera. Su estructura es:



```
while condicion:
    # bloque de codigo
```

Vamos a construir un ejemplo con un contador de 1 hasta 10.

In [39]:
contador = 1
while contador <=10:
  print(contador)
  #contador= contador + 1
  contador += 1

1
2
3
4
5
6
7
8
9
10

Ahora vamos a colectar las notas y promedios de cada alumno dentro del lazo `while`. Haremos un ejemplo con 3 promedios.

In [41]:
contador = 1
while contador <= 3:
  nota_1=float(input("Digita la primer nota: "))
  nota_2=float(input("Digita la segunda nota: "))
  print(f"El promedio del estudiante es: {((nota_1+nota_2)/2)}")
  contador += 1

Digita la primer nota: 8.5
Digita la segunda nota: 5.7
El promedio del estudiante es: 7.1
Digita la primer nota: 6.7
Digita la segunda nota: 10
El promedio del estudiante es: 8.35
Digita la primer nota: 10
Digita la segunda nota: 7
El promedio del estudiante es: 8.5

## `FOR`

El lazo `for` es un tipo de estructura de control de flujo en Python que permite iterar sobre un conjunto de elementos. Su estructura es:



```
for elemento in conjunto:
    # codigo a ser ejecutado para cada elemento
```

El lazo `for` itera sobre cada elemento del conjunto especificado y ejecuta el bloque de código dentro del lazo para cada elemento. Cuando el lazo llega al final del conjunto, este se interrumpe y el programa continúa la ejecución después del lazo.

El conjunto lo podemos generar con la función incorporada [`range()`](https://docs.python.org/3/library/functions.html#func-range). Se trata de una función capaz de generar una secuencia de números enteros. La estructura de esta función es:

```
range(inicio, fin, paso)
```

Según la documentación, `range()` genera una secuencia de números enteros a partir del valor del parámetro `inicio` hasta el valor del parámetro `fin`, de acuerdo con el valor del parámetro `paso`. Si `inicio` no es especificado, el valor por defecto es `0`. Si `paso` no es especificado, el valor por defecto es `1`.

Vamos a recrear el mismo contador `while` con el lazo `for`.

In [42]:
for n in range(1,11):
  print(n)

1
2
3
4
5
6
7
8
9
10

In [43]:
for e in range(1,4):
  nota_1=float(input("Digita la primer nota: "))
  nota_2=float(input("Digita la segunda nota: "))
  print(f"El promedio del estudiante es: {((nota_1+nota_2)/2)}")

Digita la primer nota: 7
Digita la segunda nota: 8
El promedio del estudiante es: 7.5
Digita la primer nota: 8
Digita la segunda nota: 9
El promedio del estudiante es: 8.5
Digita la primer nota: 10
Digita la segunda nota: 5
El promedio del estudiante es: 7.5

# Estructuras de datos

Un conjunto de elementos es una colección de items, que son almacenados juntos de manera organizada. Algunos ejemplos de conjuntos de elementos en Python son las listas, los strings y los diccionarios.

## Listas

Las listas pueden almacenar una colección de items en orden. Ellas son delimitadas por corchetes `[]` y sus elementos son separados por comas.

Estas pueden almacenar cualquier tipo de items, incluyendo números, strings, objetos, otras listas, entre otros. También nos permiten almacenar items de tipos de datos diferentes juntos en una única lista.

In [21]:
lista = ['Penélope Camacho',9.5,9.0,9.7,True]
lista

['Penélope Camacho', 9.5, 9.0, 9.7, True]

In [22]:
type(lista)

list

Las listas son organizadas en Python porque **cada elemento de la lista tiene un índice que indica su posición al interior de la lista**. Los índices comienzan en 0 van hasta el tamaño de la lista menos 1.

Tenemos entonces 5 elementos con índices que varían de 0 a 4, ordenadamente:

```
#             [0]           [1]   [2]   [3]    [4]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

En Python tenemos también los índices **negativos** que se inician en el último elemento con el valor de `-1` y avanzan en el universo de los negativos hasta llegar al 1° elemento:

```
#             [-5]         [-4]  [-3]  [-2]   [-1]
lista = ['Penélope Camacho', 9.5 , 9.0 , 9.7 , True]
```

Logramos seleccionar separadamente cada elemento a través de sus respectivos índices. Colocando el nombre de la lista y en seguida el índice que será seleccionado.

In [23]:
type(lista[0])

str

In [24]:
type(lista[1])

float

In [25]:
type(lista[-1])

bool

Una forma más dinámica de trabajar item a item en una lista es utilizando un lazo `for` para leer un elemento a la vez.

In [26]:
for elemento in lista:
  print(elemento)

Penélope Camacho
9.5
9.0
9.7
True

**Situación**: La nota `9.0` de Penélope necesita ser ajustada pues ganó 1 punto en su última nota por participación en clase. Entonces es necesario realizar un cambio en el índice `2` de `9.0` a `10.0`.

In [27]:
lista [2]=10

In [28]:
lista

['Penélope Camacho', 9.5, 10, 9.7, True]

También podemos calcular el promedio del estudiante a partir de los datos que tenemos.

In [29]:
promedio = (lista[1]+lista[2]+lista[3])/3
promedio

9.733333333333333

## Manipulación de listas

Las listas son muy útiles en Python porque nos permiten almacenar y acceder a una colección de items de manera organizada y rápida. Estas también ofrecen muchos métodos útiles para manipular los itens almacenados, como adicionar, remover, clasificar y buscar elementos.

#### Cantidad de elementos

Usamos la función [`len()`](https://docs.python.org/3/library/functions.html#len) para descubrir la cantidad de elementos de un conjunto.

In [31]:
len(lista)

5

#### Partición

La partición de listas por indexación en Python es una técnica muy útil para seleccionar un subconjunto de elementos de una lista. Esta se realiza usando la sintaxis `lista[inicio:fin]`, donde `inicio` es el índice del primer elemento que será incluído en la partición `fin` es el índice del primer elemento que será excluído de la partición.

In [33]:
lista[0:2]

['Penélope Camacho', 9.5]

In [34]:
lista[0:3]

['Penélope Camacho', 9.5, 10]

In [35]:
lista[3:]

[9.7, True]

In [36]:
lista[:]

['Penélope Camacho', 9.5, 10, 9.7, True]

#### [`append()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=of%20list%20objects%3A-,list.append(x),-Add%20an%20item)

Añade un elemento al final de la lista.

In [37]:
lista.append(promedio)

In [39]:
lista

['Penélope Camacho', 9.5, 10, 9.7, True, 9.733333333333333]

#### [`extend()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=list.extend(iterable))

Añade varios elementos al final de la lista.

Añadiremos las notas `[10.0,8.0,9.0]` En la lista de Penélope Camacho.

In [40]:
lista.extend([10.0,8.0,9.0])

In [41]:
lista

['Penélope Camacho', 9.5, 10, 9.7, True, 9.733333333333333, 10.0, 8.0, 9.0]

*A continuación te mostraremos lo que no puede realizarse con* `append`.

In [42]:
lista.append([10.0,8.0,9.0])

In [43]:
lista

['Penélope Camacho',
 9.5,
 10,
 9.7,
 True,
 9.733333333333333,
 10.0,
 8.0,
 9.0,
 [10.0, 8.0, 9.0]]

#### [`remove()`](https://docs.python.org/3/tutorial/datastructures.html#:~:text=append(x).-,list.remove(x),-Remove%20the%20first)

Remueve un elemento específico de la lista.

In [44]:
lista.remove([10.0,8.0,9.0])

In [45]:
lista

['Penélope Camacho', 9.5, 10, 9.7, True, 9.733333333333333, 10.0, 8.0, 9.0]

## Diccionario

Los diccionarios son un tipo de estructura de datos que almacenan pares de *llave-valor*. Estos son delimitados por llaves `{}` y los pares *llave-valor* son separados por comas.

```
diccionario = {llave: valor}
```

La **llave** es un elemento único que identifica a un valor en el diccionario, mientras que el **valor** es el item que será almacenado para la llave. Las llaves y sus respectivos valores se pueden emplear para **cualquier tipo de dato**.

Los diccionarios son útiles para almacenar y acceder a los datos de manera organizada y rápida. Se trata de un tipo de conjunto de elementos en Python, pues almacenan una colección de items.

In [49]:
diccionario={"llave_1":1,
            "llave_2":2}
diccionario

{'llave_1': 1, 'llave_2': 2}

In [50]:
type(diccionario)

dict

---
**Situación:**

Vamos a crear un conjunto de datos con las informaciones de matrícula de un estudiante. Los datos son los siguientes:

- matrícula: 2000168933
- día de registro: 25
- mes de registro: 10
- grupo: 2E

In [52]:
estudiante= {'matricula':2000168933,
             'dia_resgitro':25,
             'mes_registro':10,
             'grupo':'2E'
             }
estudiante

{'matricula': 2000168933,
 'dia_resgitro': 25,
 'mes_registro': 10,
 'grupo': '2E'}

In [55]:
estudiante ['matricula']

2000168933

In [56]:
estudiante['grupo']

'2E'

Es posible sustituir los valores dentro de una llave. Por ejemplo, recibimos la información de que el grupo del estudiante que registramos cambio a `'2G'` y ahora necesitamos cambiar el valor de la llave `'grupo'`.

In [59]:
estudiante['grupo']='2G'

In [60]:
estudiante

{'matricula': 2000168933,
 'dia_resgitro': 25,
 'mes_registro': 10,
 'grupo': '2G'}

También podemos añadir otros datos al diccionario. Vamos a añadir la información sobre la modalidad de estudio, nuestro estudiante estudiará inicialemente en la modalidad EAD.

Definiremos una llave llamada `'modalidad'` con el valor `'EAD'`.

In [61]:
estudiante['modalidad']='EAD'

In [62]:
estudiante

{'matricula': 2000168933,
 'dia_resgitro': 25,
 'mes_registro': 10,
 'grupo': '2G',
 'modalidad': 'EAD'}

In [63]:
len(estudiante)

5

## Profundizando en diccionarios

#### [`pop()`](https://python-reference.readthedocs.io/en/latest/docs/dict/pop.html)
Remueve un item de un diccionario y lo representa en la salida.

In [64]:
estudiante.pop('grupo')

'2G'

In [65]:
estudiante

{'matricula': 2000168933,
 'dia_resgitro': 25,
 'mes_registro': 10,
 'modalidad': 'EAD'}

#### [`items()`](https://python-reference.readthedocs.io/en/latest/docs/dict/items.html)
Retorna una lista de pares `llave-valor` del diccionario.

In [66]:
estudiante.items()

dict_items([('matricula', 2000168933), ('dia_resgitro', 25), ('mes_registro', 10), ('modalidad', 'EAD')])

#### [`keys()`](https://python-reference.readthedocs.io/en/latest/docs/dict/keys.html)
Retorna una lista de las llaves del diccionario.

In [67]:
estudiante.keys()

dict_keys(['matricula', 'dia_resgitro', 'mes_registro', 'modalidad'])

#### [`values()`](https://python-reference.readthedocs.io/en/latest/docs/dict/values.html)
Retorna una lista de los valores del diccionario.

In [68]:
estudiante.values()

dict_values([2000168933, 25, 10, 'EAD'])

### Lectura de valores con el lazo `for`

In [71]:
for llave in estudiante.keys():
  print(llave)

matricula
dia_resgitro
mes_registro
modalidad

In [72]:
for llave,valor in estudiante.items():
  print(llave,'-->', valor)

matricula --> 2000168933
dia_resgitro --> 25
mes_registro --> 10
modalidad --> EAD

In [75]:
tienda = {'nombres': ['televisión', 'celular', 'notebook', 'geladeira', 'estufa'],
          'precios': [2000, 1500, 3500, 4000, 1500]}

{'nombres': ['televisión', 'celular', 'notebook', 'geladeira', 'estufa'],
 'precios': [2000, 1500, 3500, 4000, 1500]}

In [76]:
for clave, elementos in tienda.items():
  print(f'Clave: {clave}\nElementos:')
  for dato in elementos:
    print(dato)

Clave: nombres
Elementos:
televisión
celular
notebook
geladeira
estufa
Clave: precios
Elementos:
2000
1500
3500
4000
1500